<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timediffproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
      android:name=".origin.MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@drawable/icon_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".module.splash.SplashActivity"
        android:label="@string/app_name"
          android:theme="@style/Theme.AppCompat.Light.NoActionBar"
          android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

        <activity android:name=".module.tempdata.TempDataActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />


        <activity android:name=".module.home.MyMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".module.set.SettingTimeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".module.select.SelectActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".module.alarm.AlarmActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".module.ring.RingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleInstance"
            />

        <activity android:name=".module.advice.AdviceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".module.search.SearchCountryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".module.about.AboutMeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".module.set.TimeVoiceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".module.emoney.ExchangeMoneyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".module.setting.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".module.setting.WidgetStyleSelectActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- 开机监听-->
        <receiver android:name=".open.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".TimeService"/>

        <service android:name=".module.ring.RingService"/>

        <service android:name=".module.widget.WidgetTimerService"/>

        <receiver android:name=".module.ring.RingReceiver"
            android:process=":remote"/>

        <receiver android:name=".module.alarm.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".module.widget.AppClockWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="update_widget_change_country"/>

            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widgetconfig"/>
        </receiver>

        <meta-data android:value="58a2c5e6aed1793e01000b46" android:name="UMENG_APPKEY"/>
        <meta-data android:value="8fd1559878e9c978f37121d89abfb0b0" android:name="UMENG_MESSAGE_SECRET"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>
